.event-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 var(--theme-color-gray);
  width: 333px;
  height: 422px;
  row-gap: 25px;
  cursor: pointer;
}

.event-image {
  height: 50%;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: 20px;
}

.event-title {
  font-size: 20px;
  font-weight: 200;
  color: var(--theme-color-600);
}

.event-date {
  font-size: 16px;
  font-weight: 600;
  color: var(--theme-color-black);
  opacity: 70%;
}

.event-info {
  font-size: 16px;
  font-weight: 500;
}

.event-buttons-wrapper,
.event-subscribe-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15%;
  width: 80%;
}

.event-button-center-wrapper {
  align-self: center;
}

.event-subscriptions-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-top: 20px;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 100px;
  background: var(--theme-color-300);
}

.event-subscritpions {
  font-size: 14px;
  color: var(--theme-color-black);
  opacity: 70%;
}

.img-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color-900);
  height: 43%;
}

.wrapper-edit-button {
  position: absolute;
  top: 5%;
  right: 2.5%;
}