.HeaderUserButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 10px;
  column-gap: 24px;
  justify-self: center;

  background-color: white;
}

.HeaderUserButton .TextBox {
  color: black;
  font-size: 16px;
  display: none;
}

.HeaderUserButton .IconLogo {
  height: 27px;
}

@media (min-width: 768px) {
  .HeaderUserButton .TextBox {
    display: block;
  }
}
