REACT_APP_API_URL = http://localhost
REACT_APP_API_PORT = 3001

REACT_APP_CLIENT_ID = octocast
REACT_APP_REDIRECT_URI = http://localhost:3000/loading
REACT_APP_AUTHORIZATION_ENDPOINT = http://localhost:28080/auth/realms/local-realm
