REACT_APP_API_URL = http://localhost
REACT_APP_API_PORT = 3001

REACT_APP_STREAM_URL = http://51.15.220.120
REACT_APP_SERVER_IP = 51.15.220.120:8081

REACT_APP_CLIENT_ID = octocast
REACT_APP_REDIRECT_URI = http://localhost:3000/
REACT_APP_AUTHORIZATION_ENDPOINT = http://localhost:8080/realms/local-realm

DEFAULT_PERSONA_IMAGE = "/persona.png"
DEFAULT_MINIATURE_IMAGE = "/exemple/image_tuile_event.png"
