.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  position: relative;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

.display1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.users_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
