# editor files
.idea
.vscode

# compiled output
node_modules
build
dist

# database files
database/postgres-data/

# documentation
frontend/docs
backend/docs
docs

.env

package-lock.json

localMinio/run_env/*
