/* ===================== FILE INPUT ===================== */
.file-area {
  width: -webkit-fill-available;
  position: relative;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    padding: 2%;
    background: var(--theme-color-3050);
    border: 2px dashed var(--theme-color-3050);
    text-align: center;
    transition: background 0.3s ease-in-out;
  }

  &:hover .file-dummy {
    background: var(--theme-color-3000);
  }

  input[type=file]:focus+.file-dummy {
    outline: 2px solid var(--theme-color-3100);
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type=file]:valid+.file-dummy {
    border-color: var(--theme-color-3300);
    background-color: var(--theme-color-3200);
  }
}