PG_PORT=5432
PG_HOST=localhost
PG_USERNAME=admin
PG_PASSWORD=admin
PG_DATABASE=ochocast-db
NODE_ENV=development

PORT=3001
WS_PORT=3001

AUTH_SERVER_URL=http://localhost:8080
AUTH_REALM=local-realm
AUTH_CLIENT_ID=nest-back
AUTH_SECRET=[INSERT YOUR SECRET HERE]

STOCK_SERVER_URL=http://localhost:9000
STOCK_CLIENT_ID=minioadmin
STOCK_SECRET=minioadmin
STOCK_MEDIA_BUCKET=media
STOCK_MINIATURE_BUCKET=miniature
STOCK_BRANDING_BUCKET=branding
STOCK_PROFILE_PICTURE_BUCKET=picture
STOCK_REGION=fr-par

RECORDING_VM_URL=http://localhost:8081