  .checkListContainer {
    display: flex;
    flex-direction: column;
    background-color: #e3f8fb;
    width: 45%;
    border: #000 1px solid;
    border-radius: 1.3rem;
    padding: 10px;
  }
  
  .checkList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px;
  }
  
  .checkBox {
    width: 1rem;
    margin-right: 10px;
  }

  .topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .categoryTitle {
    margin-right: 50px;
  }

  .overflowContainer {
    overflow: auto;
  }