.HeaderUserButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 10px;
    column-gap: 24px;

    margin-right: 95px;

    background-color: white;
}

.HeaderUserButton .TextBox {
    color: black;
    font-size: 16px;
}

.HeaderUserButton .IconLogo {
    height: 27px;
}
