.description {
  border-radius: 20px;
  border: 1px solid var(--primary-primary-01-db, #0e2356);
  background: var(--None-01_W, #fff);
  height: 7vh;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}
.live-box {
  background-color: black;
  height: 500px;
}

.live-page {
  padding: 2%;
}

.track-info {
  width: 55%;
}

.track-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
.param-button {
  margin-top: 0px;
  border: 0px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
