.checkBoxListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  min-height: 200px;
  padding-top: 10px;
  flex: 2;
}

.controlsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 10px;
}

.pageTrackSettings {
  display: flex;
  height: auto;
}

.Header {
  margin-bottom: 0px;
}

.trackSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  padding-top: 2%;
}

.trackSettings hr {
  width: 100%;
  border: 3px solid --theme-color-white;
}

.titleLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleLayout h1 {
  margin: 0px;
  font-size: 36px;
}

.select {
  height: 100px;
  width: 500px;
}

.selected {
  border: 1px solid var(--theme-color-black);
  margin: 10px;
  padding: 5px;
  width: 500px;
}

.color {
  background-color: var(--theme-color-400);
  margin: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}

.startLiveButtons {
  display: flex;
  justify-content: space-evenly;
}

.trackDateSpeakerWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.trackDateInputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  /* margin-left: 5rem; */
  margin-top: 15px;
}

.inputWrapper {
  margin-bottom: 1rem;
}

.topLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmationButtons {
  display: flex;
  justify-content: space-evenly;
}