.menu {
  width: 100%;
}

.header {
  display: flex;
  align-content: center;
}

.title {
  margin: 0px;
  background-color: var(--theme-color-100);
  color: var(--theme-color-black);
  border: none;
  height: 100%;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.img {
  display: flex;
  object-fit: fill;
}

.title {
  height: 26px;
  width: 26px;
}

.addButton {
  display: flex;
  width: 100%;
  margin-top: 6px;
  margin-left: 25%;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  border: none;
  background-color: var(--theme-color-100);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  margin-left: 18px;
}

.container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--theme-color-700);
}

.track {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: none;
  background-color: var(--theme-color-100);
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
  margin: 0px;
  color: var(--theme-color-black);
  height: 100%;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.track:hover {
  background-color: var(--theme-color-200);
}
