.HomeCard {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Tablette */
@media (min-width: 768px) {
  .HomeCard {
    flex-direction: row;
  }
}

.cardContainer {
  width: 100%;
  height: auto;
}
