.Header {
  display: flex;
  top: 0;
  background-color: var(--theme-color-600);
  height: 100px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.Logo {
  max-height: 60px;
  max-width: 250px;
  height: auto;
  width: auto;
  padding-left: 3%;
  align-items: flex-start;
  cursor: pointer;
}

.HeaderUserButton {
  align-items: center;
  column-gap: 10px;
  position: absolute;
  right: 5%;
  /* Adjust the right value as needed */

}

.Navigate {
  flex:0.33;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 25px;
}

.Logo-div{
  display: flex;
  flex:0.33;
}

button {
  background-color: #ADD8E6; /* Bleu clair */
  border: none;
  padding: 15px 30px;
  border-radius: 10px; /* Coins arrondis */
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Effet au survol */
button:hover {
  background-color: #87CEEB; /* Bleu un peu plus foncé au survol */
}