.Header {
  display: flex;
  top: 0;
  background-color: #0e2356;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Logo {
  max-height: 60px;
  max-width: 250px;
  height: auto;
  width: auto;
  padding-left: 3%;
  align-items: flex-start;
}

.HeaderUserButton {
  /* display: flex; */
  align-items: center;
  column-gap: 10px;
  position: absolute;
  right: 5%; /* Adjust the right value as needed */
}
