.page-event-settings {
  display: flex;
  height: auto;
}

.event-settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  padding-top: 2%;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-evenly;
}

.top-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-layout h1 {
  margin-left: 10px;
}


