.pageEventSettings {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 1rem;
}

.eventSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.confirmationButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.topLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleLayout {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputWrapper label {
  margin-bottom: 0.25rem;
}

.preview {
  margin-top: 2rem;
  padding: 1rem;
}

.error {
  border: 1px solid var(--theme-color-red);
}