# SFU server URL
SFU_BASE_URL=http://localhost:8090

# Backend URL for publishing recordings
BACKEND_PUBLIC_URL=http://localhost:3001

# Keycloak authentication for publishing
KEYCLOAK_TOKEN_URL=https://your-keycloak-instance/realms/your-realm/protocol/openid-connect/token
KEYCLOAK_CLIENT_ID=nest-back
KEYCLOAK_CLIENT_SECRET=[INSERT YOUR SECRET HERE]
RECORDING_USER_USERNAME=recorder
RECORDING_USER_PASSWORD=[INSERT YOUR PASSWORD HERE]
