.tracks {
  display: flex;
  flex-direction: column;
}

.tracks_page_title_wrapper {
  display: flex;
  width: 100%;
  margin-left: 50px;
  margin-top: 45px;
  column-gap: 5px;
  align-items: center;
}

.tracks_page_title {
  font-size: 36px;
  color: var(--theme-color-black);
}

.tracks_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tracks_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.tracks_description {
  justify-content: center;
  background-color: var(--theme-color-white);
  border: 1px solid var(--theme-color-black);
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.4;
  max-height: calc(1.4em * 5);
  overflow-y: auto;
  white-space: pre-wrap;
  width: 60%;
}

.tracks_container {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  grid-template-columns: 475px 475px;
  grid-template-rows: 175px 175px;
  grid-column-gap: 105px;
  grid-row-gap: 95px;
}

.no_tracks_message {
  position: absolute;
  justify-self: center;
  font-size: 40px;
  letter-spacing: 5px;
  width: 50%;
  bottom: 35%;
  display: table;
  margin: 40px auto;
  transition: 0.6s;
}
.no_tracks_message:before,
.no_tracks_message:after {
  content: attr(data-text);
  transition: 0.6s;
}
.no_tracks_message:before {
  position: absolute;
  z-index: -1;
  text-shadow:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
  -webkit-mask: repeating-linear-gradient(
    45deg,
    transparent 0 3px,
    var(--theme-color-black) 0 6px
  );
  mask: repeating-linear-gradient(
    45deg,
    transparent 0 3px,
    var(--theme-color-black) 0 6px
  );
  
}